<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <title>Excess Report</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/manager.css" id="page_style"/>
</head>
<body class="man_subpages">
    <div class="content_wrapper">
        <h1 class="man_view_title">Excess Report</h1>
        <h2 class= "inner_title">Generate excess report from start date until today's date.</h2>
        <form>
            <div class="text_field">
                <label> Enter Start Date (mm-dd-yyyy) </label>
                <input type="text" required />
            </div>
            <input type="submit" value="Generate!" />
        </form>
        <table>
            <thead>
                <tr>
                    <td>Excess Product Item</td>
                    <td>Quantity Left In Stock</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class = "row_item">--</td>
                    <td class = "row_item">--</td>
                </tr>
                <tr>
                    <td class = "row_item">--</td>
                    <td class = "row_item">--</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="nav_bar" id = "manager_nav">
        <a href="manager"><button class="nav_btn" id="back">Back to Manager View</button></a>
     </div>
</body>
</html>