<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Pom & Honey</title>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css" id="page_style">
></head>
<body>
    <div class="hero_section">
        <h1 class="restaurant_name">POM & HONEY</h1>
        <p class="slogan">Best Mediterranean Food in College Station!</p>
        <a href="/login" class="hero_link" ><button class="hero_btn">Continue to Login / Order</button></a>
    </div>
    </div>
</body>
</html>