<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <title>View Inventory</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/manager.css" id="page_style"/>
</head>
<body class="man_subpages edit">
    <div class="content_wrapper">
        <h1 class="man_view_title">Edit Inventory</h1>
        <form action="/inventory-edit" method ="post">
            <div class="text_field">
                <label class="edit_label">Product Type: </label>
                <div class="input_wrapper">
                    <select name="type" id="type" size="1">
                    <option value="chosen_type" selected="selected" class="misc">-- Select Product Type --</option>
                  </select>
                </div>
            </div>
            <div class="text_field">
                <label class="edit_label">Product Item: </label>
                <div class="input_wrapper">
                    <select name="item" id="item" size="1">
                    <option value="chosen_item" selected="selected" class="misc">-- Select Product Item --</option>
                  </select>
                </div>
            </div>
            <div class="text_field">
                <label class="edit_label">Product Item Quantity: </label>
                <div class="input_wrapper">
                    <input type="number" name="quantity" id="quantity" placeholder="####" min="1" required />
                </div>
            </div>
            <input type="submit" value="Update!" />
        </form>
    </div>
     <script >
        var types = {
            "Entrees and Proteins": ["Green & Grains & Vegetable Medley", "Green & Grains & Meatballs", "Green & Grains & Chicken",
                                    "Green & Grains & Falafel", "Green & Grains & Gyro", "Pita & Vegetable Medley", "Pita & Meatballs", 
                                    "Pita & Chicken", "Pita & Falafel", "Pita & Gyro", "Grain Bowl & Vegetable Medley", "Grain Bowl & Meatballs", 
                                    "Grain Bowl & Chicken", "Grain Bowl & Falafel", "Grain Bowl & Gyro", "Salad & Vegetable Medley", "Salad & Meatballs",
                                    "Salad & Chicken", "Salad & Falafel", "Salad & Gyro", "Gyro Wrap", "Utensils","Plastic Bowls"],
            "Toppings": ["Pickled Onions", "Diced Cucumbers", "Citrus Couscous","Roasted Cauliflower", "Tomato-Onion Salad", "Kalamata-Olives",
                        "Roasted Peppers","Red Cabbage Slaw"],
            "Dressings": ["Hummus", "Red Pepper Hummus", "Jalapeno Feta", "Tzatziki", "Greek Vinacrette", "Harissa Yogurt",
                        "Lemon Herb Tahini", "Yogurt Dill"],
            "Starters": ["2 Falafels", "Hummus & Pita", "Vegan Box", "Garlic Fries"],
            "Drinks": ["Bottled Water", "Bottled Soda", "Fountain Soda"]
        };
        window.onload = function(){
            const typeSelection = document.querySelector("#type"), itemSelection = document.querySelector("#item");
            itemSelection.disabled=true;

            for(let type in types){
                typeSelection.options[typeSelection.options.length] = new Option(type,type);
            }
            typeSelection.onchange = (e) => {
                itemSelection.disabled = false;
                itemSelection.length = 1; // remove all options bar first

                let items = types[e.target.value];
                for(let i=0; i<items.length; i++){
                    itemSelection.options[itemSelection.options.length]= new Option(items[i], items[i]); //string, value
                }
                //console.log(document.getElementById("#type").value)
            };
        // console.log(document.getElementById("#chosen_type").value);
           // console.log(document.getElementById("#chosen_item").value);
        }
     </script>
     <script>
        lang=localStorage.getItem("Language");
          if(lang!=undefined && lang!='en'){
            translateClass("man_view_title");
            translateClass("edit_label");
            translateClass("misc");
          }
  
          function translateClass(className){
              elements =document.getElementsByClassName(className);
              console.log(elements);
              for( i=0; i<elements.length;i++){
                translate(elements[i]);
              }
          }
          function translate(element){
            text=element.innerText;
            //test =document.getElementById("test").innerText,localStorage.getItem("Language");
            console.log("Translating: "+text);
            fetch('/translate', {
                method: 'POST',
                headers: {
                    Authorization: 'Bearer abcdxyz',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    "Language": lang,
                    "Text": text
                }),
            }) .then((res)=>res.json()) .then(x =>{
                  // console.log(x)
                  element.innerHTML=x;
                  //return x;
            })
          }
      </script>
</body>
</html>