<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <title class="misc">Log-in</title>
    
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" id="page_style" />
  </head>
  <body>
    <div class="wrapper">
      <div class="login_card">
        <h1 class="title">Pom & Honey Log-in</h1>
        <form method="post">
          <div class="text_field">
            <input type="text" required />
            <span></span>
            <label class="misc">Username</label>
          </div>
          <div class="text_field">
            <input type="text" required />
            <span></span>
            <label class="misc">Password</label>
          </div>
          <div class="login_button_wrapper">
            <button type="submit" class="login misc" >Log-in</button>
            <script src="https://accounts.google.com/gsi/client" async defer></script>
            <div id="g_id_onload"
                data-client_id="1009654806650-qn41odg2ro13ks88lehcgoc7m2qt3lvm.apps.googleusercontent.com"
                data-login_uri="https://pomandhoney-r5ro.onrender.com/login"
                data-auto_prompt="false">
            </div>
            <!-- <div id="g_id_onload"
                data-client_id="1009654806650-qn41odg2ro13ks88lehcgoc7m2qt3lvm.apps.googleusercontent.com"
                data-login_uri="http://localhost:3000/login"
                data-auto_prompt="false">
            </div> -->
            <script src="https://unpkg.com/jwt-decode/build/jwt-decode.js">
                const email = "";
                function handleCredentialResponse(response) {
                    const responsePayload = jwt_decode(response.credential);

                    console.log("ID: " + responsePayload.sub);
                    console.log('Full Name: ' + responsePayload.name);
                    console.log('Given Name: ' + responsePayload.given_name);
                    console.log('Family Name: ' + responsePayload.family_name);
                    console.log("Image URL: " + responsePayload.picture);
                    console.log("Email: " + responsePayload.email);
                    email = responsePayload.email;
                }
                if (email == "manager.pom.honey@gmail.com") {
                    localStorage.setItem("stored_server", "1");
                } else if (email == "server.pom.honey@gmail.com") {
                    localStorage.setItem("stored_server", "2");
                } else {
                    localStorage.setItem("stored_server", "0");
                }
            </script>
            <div class="g_id_signin google"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left">
            </div>
          </div>
        </form>
      </div>
      <div class="customer">
        <p class="customer_text">Are you a customer?</p>
        <a href="entree"><button onclick="clearStorage()" class="order_btn">Order Now!</button></a>
      </div>
    </div>
    <div class="login_nav">
      <a href="/"><button class="misc" id="back">Back to Welcome Page</button></a>
    </div>
    <script>
      lang=localStorage.getItem("Language");
        if(lang!=undefined && lang!='en'){
          translateClass("order_btn");
          translateClass("customer_text");
          translateClass("google");
          translateClass("title");
          translateClass("login misc");
          translateClass("order_btn");
          translateClass("misc");
        }

        function translateClass(className){
            elements =document.getElementsByClassName(className);
            console.log(elements);
            for( i=0; i<elements.length;i++){
              translate(elements[i]);
            }
        }
        function translate(element){
          text=element.innerText;
          //test =document.getElementById("test").innerText,localStorage.getItem("Language");
          console.log("Translating: "+text);
          fetch('/translate', {
              method: 'POST',
              headers: {
                  Authorization: 'Bearer abcdxyz',
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  "Language": lang,
                  "Text": text
              }),
          }) .then((res)=>res.json()) .then(x =>{
                // console.log(x)
                element.innerHTML=x;
                //return x;
          })
        }
    </script>
  </body>
</html>