<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager View</title>
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/manager.css" id="page_style" />
</head>
<body>
    <div class="content_wrapper">
        <h1 class="title">Welcome Back, Boss!</h1>
        <div class="button_wrapper">
                <a href="entree"><button class ="item_btn">Take Order</button></a>
                <button class ="item_btn">View Inventory</button>
                <button class ="item_btn">Sales Report</button>
                <button class ="item_btn">Excess Report</button>
                <button class ="item_btn">Restock Report</button>
        </div>
    </div>
    <div class="nav_bar" id = "manager_nav">
        <a href="login"><button class="nav_btn" id="back">Back to Login Screen</button></a>
     </div>
</body>
</html>