<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="misc">Manager View</title>
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/manager.css" id="page_style" />
</head>
<body>
    <div class="content_wrapper">
        <h1 class="title">Welcome Back, Boss!</h1>
        <div class="button_wrapper">
          <a href="entree"><button class ="item_btn">Take Order</button></a>
          <a href = "inventory"><button class ="item_btn">View Inventory</button></a>
          <a href = "sales"><button class ="item_btn">Sales Report</button></a>
          <a href="excess"><button class ="item_btn">Excess Report</button></a>
          <a href="restock"><button class ="item_btn">Restock Report</button></a>
        </div>
    </div>
    <div class="nav_bar" id = "manager_nav">
        <a href="logout"><button class="nav_btn" id="back" onclick="signOut()">Sign Out</button></a>
     </div>
     <script>
      lang=localStorage.getItem("Language");
        if(lang!=undefined && lang!='en'){
          translateClass("title");
          translateClass("item_btn");
          translateClass("nav_btn");
          translateClass("title");
          translateClass("misc");
        }

        function translateClass(className){
            elements =document.getElementsByClassName(className);
            console.log(elements);
            for( i=0; i<elements.length;i++){
              translate(elements[i]);
            }
        }
        function translate(element){
          text=element.innerText;
          //test =document.getElementById("test").innerText,localStorage.getItem("Language");
          console.log("Translating: "+text);
          fetch('/translate', {
              method: 'POST',
              headers: {
                  Authorization: 'Bearer abcdxyz',
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  "Language": lang,
                  "Text": text
              }),
          }) .then((res)=>res.json()) .then(x =>{
                // console.log(x)
                element.innerHTML=x;
                //return x;
          })
        }
    </script>
</body>
</html>