<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="misc">Starters & Drinks</title>
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <link
    href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/server.css" id="page_style"/>
  <link rel="stylesheet" href="/package/dist/sweetalert2.css" id="page_style">
  <script src="/package/dist/sweetalert2.all.min.js"></script>
</head>
<body>
  <h1 class = "prompt">Would you like any starters or drinks?</h1>
    <div class="content_wrapper">
        <div class="options">
          <div class="section">
            <h1 class="label">Select your starter:</h1>
            <div class="button_wrapper">
              <button class ="item_btn starter_btn">None</button>
              <button class ="item_btn starter_btn">2 Falafels</button>
              <button class ="item_btn starter_btn">Hummus & Pita</button>
              <button class ="item_btn starter_btn">Vegan Box</button>
              <button class ="item_btn starter_btn">Garlic Fries</button>
            </div>
          </div>                
          <div class="section">
            <h1 class="label">Select your drink:</h1>
            <div class="button_wrapper">
              <button class ="item_btn drink_btn">None</button>
              <button class ="item_btn drink_btn">Bottled Water</button>
              <button class ="item_btn drink_btn">Bottled Soda</button>
              <button class ="item_btn drink_btn">Fountain Soda</button>
            </div>
          </div>
        </div>
        <div class="cart">
            <h1 class="title">Order Cart</h1>
            <div class="order_contents_wrapper">
             <!-- <div class="order_content" id="cart_content">Your cart is currently empty!</div> -->
             <div class="order_content" id="cart_content"></div>
              <!-- <div class="order_contents" id="cart_content">Your cart is currently empty!</div> -->
            </div>
            
        </div>
    </div>
    <div class="nav_bar" id = "starter_nav">
        <a href="topping"><button class="nav_btn" onclick="clearTandS()" id="back">Back to Toppings & Dressings</button></a>
        <a href="placeorder"><button class="nav_btn" id="proceed">Proceed to Checkout</button></a>
     </div>
     <script src="/js/client.js"></script>
     <script>
      lang=localStorage.getItem("Language");
        if(lang!=undefined && lang!='en'){
          translateClass("order_content");
          translateClass("label");
          translateClass("title");
          translateClass("nav_btn");
          translateClass("nav_btn to_toppings");
          translateClass("misc");
          translateClass("prompt")
        }

        function translateClass(className){
            elements =document.getElementsByClassName(className);
            console.log(elements);
            for( i=0; i<elements.length;i++){
              translate(elements[i]);
            }
        }
        function translate(element){
          text=element.innerText;
          //test =document.getElementById("test").innerText,localStorage.getItem("Language");
          console.log("Translating: "+text);
          fetch('/translate', {
              method: 'POST',
              headers: {
                  Authorization: 'Bearer abcdxyz',
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                  "Language": lang,
                  "Text": text
              }),
          }) .then((res)=>res.json()) .then(x =>{
                // console.log(x)
                element.innerHTML=x;
                //return x;
          })
        }
    </script>
    <!-- <script src="../app.js"></script> -->
</body>
</html>