<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toppings & Dressings</title>
    <link rel="icon" type="img/png" size="32x32" href="/img/P&H logo.png"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/server.css" id="page_style" />
    <link rel="stylesheet" href="/package/dist/sweetalert2.css" id="page_style">
    <script src="/package/dist/sweetalert2.all.min.js"></script>
  </head>
  <body>
    <h1 class = "prompt">Please select upto 4 toppings and 1 dressing from this page!</h1>
    <div class="content_wrapper">
      <div class="options">
        <div class="section" id="topping_wrapper">
          <h1 class="label">Select your toppings:</h1>
          <div class="button_wrapper">
            <button class="item_btn topping_btn">Pickled Onions</button>
            <button class="item_btn topping_btn">Diced Cucumbers</button>
            <button class="item_btn topping_btn">Citrus Couscous</button>
            <button class="item_btn topping_btn">Roasted Cauliflower</button>
            <button class="item_btn topping_btn">Tomato-Onion Salad</button>
            <button class="item_btn topping_btn">Kalamata-Olives</button>
            <button class="item_btn topping_btn">Roasted Peppers</button>
            <button class="item_btn topping_btn">Red Cabbage Slaw</button>
          </div>
        </div>
        <div class="section" id="topping_wrapper">
          <h1 class="label">Select your dressing:</h1>
          <div class="button_wrapper">
            <button class="item_btn dressing_btn">Hummus</button>
            <button class="item_btn dressing_btn">Red Pepper Hummus</button>
            <button class="item_btn dressing_btn">Jalapeno Feta</button>
            <button class="item_btn dressing_btn">Tzatziki</button>
            <button class="item_btn dressing_btn">Greek Vinacrette</button>
            <button class="item_btn dressing_btn">Harissa Yogurt</button>
            <button class="item_btn dressing_btn">Lemon Herb Tahini</button>
            <button class="item_btn dressing_btn">Yogurt Dill</button>
          </div>
        </div>
      </div>
      <div class="cart">
        <h1 class="title">Order Cart</h1>
        <div class="order_contents_wrapper">
          <!--<div class="order_content" id="cart_content">Your cart is currently empty!</div> -->
          <div class="order_content" id="cart_content"></div>
          <!-- <div class="order_contents" id="cart_content">Your cart is currently empty!</div> -->

        </div>
        
    </div>
    </div>
    <div class="nav_bar">
      <a href="entree"><button onclick="clearStorage()" class="nav_btn" id="back"> Back to Entrees & Proteins</button></a>
      <a href="starter"><button class="nav_btn to_starter" id="proceed"> Proceed to Starters & Drinks</button></a>
    </div>
    <script src="/js/client.js"></script>
    <!-- <script src="../app.js"></script> -->
  </body>
</html>
