* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Epilogue', sans-serif;
    font-size: 0.875rem;
    /*background-color:rgb(192, 192, 192); */
    background-image: linear-gradient(to right top, #c0c0c0, #c3c3c3, #c6c6c6, #cacaca, #cdcdcd, #d0d0d1, #d4d2d4, #d9d5d7, #e1d7d8, #e7dbd6, #e9dfd4, #e5e5d5);
    height:100vh;
    display:flex;
    flex-direction:column;
    padding:8rem 9rem 0 9rem;
}
.content_wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:2rem;
}
.title{
    font-size:3.2rem;
    letter-spacing:4px;
    padding-bottom:1rem;
}
.button_wrapper{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    gap:60px;
    padding:1.5rem 2rem;
    max-width:850px;
}
.item_btn{
    font-size:1.75rem;
    padding:1.3rem 2rem;
    border-radius:0.5em;
    border:none;
    font-size:1.4rem;
    color:black;
    box-shadow: -16px 21px 23px -5px rgba(0,0,0,0.71);
}
.nav_bar{
    margin-top:5rem;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav_btn{
    padding:1.25rem 2rem;
    border-radius:0.5em;
    border:none;
    font-size:1.25rem;
    color:black;
    box-shadow: -16px 21px 23px -5px rgba(0,0,0,0.71);
}
#manager_nav{
    position:relative;
    margin-top:8rem;
}
#back{
    background-color:rgb(160, 8, 8);
    color:white;
    font-size:20px;
}
button:hover{
    transform:translateY(-5px);
    cursor:pointer;
}
.item_btn:active{
    background-color:rgb(0, 125, 0);
    color:white;
}

/* MANAGER SUBPAGES*/
.man_subpages{
    padding:4rem 6rem 0 6rem;
}
.man_view_title{
    font-size:1.75rem;
    letter-spacing:1.7px;
    padding-bottom:0.75rem;
}
table thead tr td{
    border-collapse:collapse;
    border:2px;
    margin:20px auto;
    border-radius:3px;
    background-color:white;
    width:600px;
    text-align:center;
    padding:1rem;
}
.row_item{
    text-align:center;
    background-color:white;
    font-size:14px;
    padding:4px;
}
#proceed{
    background-color:rgb(3, 102, 3);
    color:white;
    font-size:20px;
}

form{
    padding:0 40px;
    display:flex;
    align-items:center;
    gap:3rem;
}
.text_field{
    display:flex;
    flex-direction:column;
    gap:7px;
    
}
label, input,select{
    font-size:17px;
    text-align:center;
}

input[type="submit"]{
    border-radius:10px;
    border:none;
    font-size:1.25rem;
    width:180px;
    height:55px;
    background:#007a49;
    color:white;
    box-shadow:5px 4px 4px 1px rgb(83 67 67);
}
input[type="submit"]:hover{
    border-radius:10px;
    border:none;
    font-size:1.25rem;
    width:180px;
    height:55px;
    background:#035c38;
    transform:translateY(-5px);
    cursor:pointer;
    color:white;
    box-shadow:5px 4px 4px 1px rgb(83 67 67);
}
.inner_title{
    font-size:1.2rem;
    text-align: center;
}

/* modified starting here*/
.input_wrapper{
    display:flex;
    gap:20px;
    justify-content:center;
}
.start{
    text-align:center;
    width:60px;
}
#year{
    width:75px;
}
.edit{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding:0;
}
.edit_label{
    font-size:1.1rem;
}
#type{
    font-size:17px;
}
select{
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
#quantity{
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
}
